* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container3 {
  position: relative;
}


/* Hide the images by default */
.mySlides3 {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 36px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row3:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column3 {
  float: left;
  width: 6.5%;
}

/* Add a transparency effect for thumnbail images */
.demo3 {
  opacity: 0.6;
}

.active,.demo3:hover {
  opacity: 1;
}




















.column4 {
  float: left;
  width: 33.33%;
  padding: 10px;
}

/* Clearfix (clear floats) */
.row4::after {
  content: "";
  clear: both;
  display: table;
}

.floated3:hover {

  background-color: #18BC9C;
  transition: 0.2s;
}


.floated4:hover {

  opacity: 0.8;
  transition: 0.2s;
}







.container5 {
  position: relative;
  width: 25%;
}

.image5 {
  display: block;
  width: 100%;
  height: auto;
  padding-left: 30px;

}

.overlay5 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #18BC9C;

}

.container5:hover .overlay5 {
  opacity: 1;
}

.text5 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}















/* Events */

